<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
    <script src="js/toDoListFactory.js"></script>
  </head>
  <body ng-controller="ToDoListController as toDoCtrl" >
    <ul ng-model="filterType" class="nav nav-pills">
      <li class="show-all" ><button ng-click="toDoCtrl.filter('all')">All</button></li>
      <li class="show-active"><button ng-click="toDoCtrl.filter('active')">Active</button></li>
      <li class="show-done" ><button ng-click="toDoCtrl.filter('done')">Done</button></li>
    </ul>
    <form class="form-horizontal">
      <input type="text" ng-model="toDoCtrl.newTask" class="enter-task">
      <button class="btn" ng-click="toDoCtrl.addTask()">Add Task</button>
    </form>
    <ul class="list-group task-list" >
      <li  ng-repeat="task in toDoCtrl.taskList">
        <div class="todo-item" ng-show="toDoCtrl.checkShow(task.complete)">
          <p class="task" >{{ task.task }} {{ task.complete && 'Done' || 'todo' }}</p>
          <input type="checkbox" class="done-mark" ng-click="toDoCtrl.markAsDone(task);">
          <button class="delete-btn" ng-click="toDoCtrl.deleteTask(task)" ng-click="delete($index)">Delete</button>
        </div>

      </li>
    </ul>
  </body>
</html>